@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: url('https://i.pinimg.com/originals/70/db/34/70db343631715a27ebae3842bbb81600.jpg');
    background-size: cover;
}
